global
    log stdout format raw local0

defaults
    mode tcp
    timeout connect 5s
    timeout client 60s
    timeout server 60s

frontend dsn_front
    bind *:9443
    default_backend dsn_nodes

backend dsn_nodes
    balance roundrobin
    server node1 node1:8080 check
    server node2 node2:8080 check
    server node3 node3:8080 check
